<!DOCTYPE HTML>
<html>
 <head>
    <block name="title">
       <title>最简单二维码自动生成 qr.leipi.org</title>
  <meta name="keyword" content="最简单二维码生成,一键生成二维码,智能生成二维码,javascript自动生成二维码,php生成二维码,php qrcode logo">
  <meta name="description" content="最简单二维码生成，通过javascript植入网站即可自动生成二维码，可自定义尺寸、Logo、二维码类型！">
    </block>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="author" content="leipi.org">
    <link href="__PUBLIC__/css/bootstrap/css/bootstrap.css?{$_cjv}" rel="stylesheet" type="text/css" />
    <!--[if lte IE 6]>
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/css/bootstrap/css/bootstrap-ie6.css?{$_cjv}">
    <![endif]-->
    <!--[if lte IE 7]>
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/css/bootstrap/css/ie.css?{$_cjv}">
    <![endif]-->
    <link href="__PUBLIC__/css/site.css?{$_cjv}" rel="stylesheet" type="text/css" />
    <script type="text/javascript">
        var _root='{$_site_url}{:U('/')}',_controller = '{$_controller}';
    </script>
    <block name="head"><!--head  style or js --></block>
 </head>
<body>

<!-- fixed navbar -->
<div class="navbar navbar-inverse navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="brand" href="http://www.leipi.org" target="_blank">雷劈网</a>
      <div class="nav-collapse collapse">
        <ul class="nav">
            <li><a href="http://flowdesign.leipi.org">流程设计器</a></li>
            <li><a href="http://formdesign.leipi.org">表单设计器</a></li>
            <li <if condition="$_controller eq 'index'">class="active"</if>><a href="/">自动生成二维码</a></li>
            <li <if condition="$_controller eq 'doc'">class="active"</if>><a href="{:U('/doc')}">文档</a></li>
            <li <if condition="$_controller eq 'downloads'">class="active"</if>><a href="{:U('/downloads')}">下载</a></li>
            <li <if condition="$_controller eq 'feedback'">class="active"</if>><a href="{:U('/feedback')}">意见征集</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>


	<block name="body"><!--主体内容--></block>
    
 <div class="bs-footer" role="contentinfo">
      <div class="container">
          <p><span class="glyphicon glyphicon-list-alt"></span> 反馈：payonesmile@qq.com</p>
          <p><span class="glyphicon glyphicon-usd"></span> 支持：捐赠支付宝 payonesmile@qq.com 、<a href="#">捐赠记录</a></p>
          <p><span class="glyphicon glyphicon-bookmark"></span> 鸣谢：<a href="http://ueditor.baidu.com" target="_balnk">UEditor</a>、<a href="http://www.bootcss.com" target="_balnk">Bootstrap中文网</a>、<a href="http://www.leipi.org" target="_balnk">雷劈网</a>、
            <a href="http://www.wwei.cn/" target="_balnk" title="二维码生成器">二维码生成器</a>
          </p>
          <p><a href="http://www.leipi.org" title="雷劈网"><img src="http://www.leipi.org/wp-content/themes/leipi/images/leipi.png" alt="雷劈认证 icon" height="30"></a> &copy;2014 Formbuild.leipi.org <a href="http://www.miitbeian.gov.cn/" target="_blank">粤ICP备13051130号</a></p>
      </div>
</div>
    <block name="footer_js"><!--footer js --></block>
<include file="Public:team"/>
<div style="display:none;">
<script type="text/javascript">
var _bdhmProtocol = (("https:" == document.location.protocol) ? " https://" : " http://");
document.write(unescape("%3Cscript src='" + _bdhmProtocol + "hm.baidu.com/h.js%3F1e6fd3a46a5046661159c6bf55aad1cf' type='text/javascript'%3E%3C/script%3E"));
</script>
</div>
</body>
</html>